<!--普通对话框，显示错误-->
<!--将操作的步骤放在app.factory中，以便可以注入到任意使用的地方-->
<!--使用jquery进行操作，以便摆脱对controller的依赖-->
<div id="modalCommon" class="modal  bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="modalCommon_close_symbol" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="errorModal.close()"><span aria-hidden="true">&times;</span></button>
                <h4 id="modalCommon_title" class="modal-title"></h4>
            </div>
            <div id="modalCommon_msg" class="modal-body" >

            </div>
            <div class="modal-footer">
                <button id="modalCommon_close_button" type="button" class="btn btn-default" data-dismiss="modal" ng-click="errorModal.close()">关闭</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>