<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">

        <link rel='stylesheet' href='style.css' />
        <link rel="stylesheet" href="common.css"/>
        <link rel="stylesheet" href="bootstrap.css"/>
        <link rel="stylesheet" href="font-awesome.min.css"/>


        <title><%= title %></title>

    </head>
    <body>
    <script src="angular.js"></script>
    </body>
</html>