<div id="bill" class="marginT_7 col-lg-12" style="margin-bottom: -3px;z-index: 1">
  <!--hover时，字体发生变化，导致span元素大小改变，影响bill的位置；为了抵消这一影响，改变span的paddingB属性-->
  <span class="marginL_2 paddingT_2 paddingB_2 paddingH_2 top-left-radius2 top-right-radius4" ui-sref="bill.billInfo" ng-click="adjustFooterPosition()" ui-sref-active="activate"><span class="fa fa-files-o marginR_1"></span>单据信息</span>
  <span class="marginL_2 paddingT_2 paddingB_2 paddingH_2 top-left-radius2 top-right-radius4" ui-sref="bill.static" ng-click="adjustFooterPosition()" ui-sref-active="activate"><span class="fa fa-bar-chart-o marginR_1"></span>统计信息</span>
</div>
<!--marginT_X, where x equal above span's paddingV_Y; x=y-->
<!--实现边框部分遮盖效果-->
<div id="bill-border" class="col-lg-12 tabBorder marginT_2 content-border marginB_5 radius2 page_ele_bg" style="" >
  <div id="content" class="" ui-view ui-event="{resize:adjustFooterPosition()}">

  </div>
</div>