<div id="modal" class="modal" ng-class="{show:allData.recorderDialogShow,fade:!allData.recorderDialogShow}" >
  <!--diag height is self defined,different is differend page--><!--diag height is self defined,different is differend page-->
  <div id="CRUDRecorder" class="modal-dialog modal-sm" style="height:316px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="allFunc.switchDialogStatus()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" >{{modal.title[allData.currentOpType]}}</h4>
      </div>
      <div class="modal-body">
        <!--<div >-->
        <div class="form-group"  ng-repeat="(field,value) in allData.inputAttr" ng-if="field!=='id'" ng-class="{'has-error': 0<value.errorMsg.length}">
          <label class="control-label">{{value['chineseName']}}</label><span style="color:red" class="marginL_1" ng-if="allData.inputRule[field]['require']['define']">*</span>
            <!--普通字段-->
            <input ng-if="'normal'===allData.inputAttr[field]['inputType']" class="form-control" type="{{value.inputDataType}}" ng-model="value.value" ng-change="" ui-event="{focus:'allFunc.initSingleFieldInputAttr(field,allData.inputAttr,allData.inputRule);',blur:'allFunc.nonAcBlur(field,allData.inputRule,allData.inputAttr)'}" >

            <!--设置的值是枚举，例如性别，支取，通过select来设置-->
            
            <select ng-if="'select'===allData.inputAttr[field]['inputType'] " class="form-control"  ng-model="value.value"  >
                <option ng-repeat="option in value['selectOption']" ng-selected="value.value===option.value" value="{{option.key}}">{{option.value}}</option>
            </select>

            <!--可以AC的字段-->
            <div mass-autocomplete ng-if="'autoComplete'===allData.inputAttr[field]['inputType']">
                <input class="form-control input-sm" ng-model="value.value" mass-autocomplete-item="value.suggestList" ui-event="{focus:'allFunc.initSingleFieldInputAttr(field,allData.inputAttr,allData.inputRule)',blur:'allFunc.acBlur(field,allData.inputAttr,allData.recorder[allData.currentIdx]._id)',change:'allFunc.initSingleFieldInputAttr(field,allData.inputAttr,allData.inputRule);'}" >
            </div>

            <!--日期-->
            <div class='input-group date' id='{{field}}' ng-show="'date'===allData.inputAttr[field]['inputType']">
                <input type='text' class="form-control" />
              <span class="input-group-addon" >
                        <span class="fa fa-calendar" ></span>
                    </span>
            </div>

          <p class="text-danger" style="height:20px">{{value.errorMsg}}</p>
        </div>
        <!--</div>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="allFunc.switchDialogStatus();allFunc.initAllFieldInputAttr(allData.inputAttr,allData.inputRule)">取消</button>
        <button type="button" class="btn btn-primary" ng-class="{disabled:false===modal.buttonFlag}"  ng-click="allFunc.CUDialogClick()">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>





<div class="flex-vertical">

  <div class="page-header-narrow h3 text-primary col-lg-12" sytle="">
    设置查询条件
    <span class="fa fa-angle-double-down marginL_3 cursor_pointer" data-toggle="popover" title="显示查询条件" data-content="test" data-placement="right" ng-show="false===allData.queryFieldEnable" ng-init="allData.queryFieldEnable=false" ng-click="allFunc.clickQueryFlag()"></span>
    <span class="fa fa-angle-double-up marginL_3 cursor_pointer" data-toggle="popover" title="隐藏查询条件" data-content="test1" data-placement="right" ng-show="true===allData.queryFieldEnable" ng-click="allFunc.clickQueryFlag()"></span>
  </div>
  <div class='col-lg-12'>
      <div class="form-group form-group-sm delete-padding-1" ng-show="allData.queryFieldEnable">

        <label class="control-label col-lg-2 col-md-3 col-sm-4 col-xs-4 text-left" style="font-size:18px;font-weight:700;font-family:serif">选择查询字段</label>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
          <select id="queryField" class="form-control"  ng-model="allData.selectedQueryField" ng-options="option.value for option in allData.queryField" ng-change="allFunc.queryFieldChange()">

          </select>
        </div>

          <!--默认空或者string 类型的，都要提供autoComplete-->
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4" mass-autocomplete ng-if="''===allData.selectedQueryField || allData.inputAttr[allData.selectedQueryField['key']]['isQueryAutoComplete']">
            <input class="form-control" ng-model="allData.selectedQueryFieldValue" mass-autocomplete-item="allData.inputAttr[allData.selectedQueryField['key']]['suggestList']">
        </div>

          <!--<div>-->
    <!--      <div mass-autocomplete ng-if="allData.inputAttr[allData.selectedQueryField['key']]['isQueryAutoComplete']">
            <input class="form-control" ng-model="allData.selectedQueryFieldValue" mass-autocomplete-item="allData.inputAttr[allData.selectedQueryField['key']]['suggestList']">
          </div>-->
          <!--数字，提供比较符-->
            <!--<div class="ccol-lg-2 col-md-3 col-sm-4 col-xs-4 flex-horizontal" ng-if="''!==allData.selectedQueryField && !allData.inputAttr[allData.selectedQueryField['key']]['isQueryAutoComplete'] && !allData.inputAttr[allData.selectedQueryField['key']]['isSelect']">-->
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 flex-horizontal" ng-if="''!==allData.selectedQueryField && ('float'===allData.inputRule[allData.selectedQueryField['key']]['type'] || 'int'===allData.inputRule[allData.selectedQueryField['key']]['type'] || 'number'===allData.inputRule[allData.selectedQueryField['key']]['type'] )">
                <!--需要设置比较符的类型-->
                <!--<select  class="form-control input-sm" ng-if="'float'===allData.inputRule[allData.selectedQueryField['key']]['type'] || 'int'===allData.inputRule[allData.selectedQueryField['key']]['type']|| 'number'===allData.inputRule[allData.selectedQueryField['key']]['type']">-->
                <select  class="form-control col-lg-2 col-md-3 col-sm-4 col-xs-4" ng-model="allData.selectedQueryFieldOperator" ng-if="['float','int','number'].indexOf(allData.inputRule[allData.selectedQueryField['key']]['type'])>-1">
                    <option value="gt">&gt</option>
                    <option value="lt">&lt</option>
                    <option value="eq">=</option>
                </select>
                <input class="form-control  col-lg-10 col-md-9 col-sm-8 col-xs-8" ng-if="['float','int','number'].indexOf(allData.inputRule[allData.selectedQueryField['key']]['type'])>-1" type="allData.inputAttr[allData.selectedQueryField['key']]['inputDataType']" ng-model="allData.selectedQueryFieldValue" >
            </div>




          <!--日期，提供起始结束日期-->
          <div class="col-lg-7 col-md-12 " ng-show="''!==allData.selectedQueryField && !allData.inputAttr[allData.selectedQueryField['key']]['isQueryAutoComplete'] && 'date'===allData.inputRule[allData.selectedQueryField['key']]['type']">
              <div class=" flex-horizontal"   ng-show="'date'===allData.selectedQueryField['type']">
                  <span class="col-lg-2 col-sm-12 col-xs-12">开始日期</span>
                  <div class='input-group date col-lg-4 col-sm-12 col-xs-12' id='queryStartDate'>
                      <input type='text' class="form-control" />
                      <span class="input-group-addon" >
                            <span class="fa fa-calendar" ></span>
                        </span>
                  </div>
                  <span class="col-lg-2 col-sm-12 col-xs-12">结束日期</span>
                  <div class='input-group col-lg-4 date col-sm-12 col-xs-12' id='queryEndDate'>
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                  </div>
              </div>
          </div>
    <!--        <div ng-class="col-lg-6" ng-if="!allData.inputAttr[allData.selectedQueryField['key']]['isQueryAutoComplete'] && !allData.inputAttr[allData.selectedQueryField['key']]['isSelect']">

            </div>-->
            <!--设置枚举类型，例如性别-->
          <div  class="col-lg-2" ng-if="''!==allData.selectedQueryField && 'select'===allData.inputAttr[allData.selectedQueryField['key']]['inputType']">
              <select class="form-control"   ng-model="allData.selectedQueryFieldValue" ng-options="option.value for option in allData.inputAttr[allData.selectedQueryField['key']]['selectOption']" >

              </select>
          </div>

        <!--</div>-->
          <!--因为查询日期有默认值，所以类型是日期，button直接可用-->
        <button class="btn  btn-primary btn-sm col-lg-1" ng-if="undefined!==allData.selectedQueryField" ng-class="{disabled:undefined==allData.selectedQueryFieldValue && ('date'!==allData.inputRule[allData.selectedQueryField['key']]['type']),enable:undefined!==allData.selectedQueryFieldValue || ('date'===allData.inputRule[allData.selectedQueryField['key']]['type']) }" ng-click="allFunc.addQueryValue();allFunc.CRUDOperation.search(allData.recorder,1);allFunc.initSelectedQueryField()">确定</button>
          <!--<button class="btn  btn-primary btn-sm col-lg-1" ng-if="undefined!==allData.selectedQueryField"  ng-click="allFunc.addQueryValue();allFunc.CRUDOperation.search(allData.recorder,1);allFunc.initSelectedQueryField()">确定</button>-->

      </div>
  </div>

  <div id="activeQueryValue" class="col-lg-12 marginT_1"  ng-show="allData.queryFieldEnable">
    <p class="" style="font-size:18px;font-weight:700;font-family:serif">当前查询条件</p>
    <div ng-repeat="(key,values) in allData.activeQueryValue" class="col-lg-12">
      <label class="text-info text-success marginR_1 col-lg-2">{{allData.queryFieldChineseName[key]}}：</label>
      <span ng-repeat="(idx,queryValue) in values  track by $index" class="marginR_2 paddingL_2 paddingR_1 paddingV_1 activeQueryValue label label-info">
          {{queryValue.compSymbol}}{{allFunc.formatQueryValue(key,queryValue.value)}}
          <!--<span ng-if="'date'=allData.inputRule[key]['type']">-->

          <!--</span>-->

          <span class="fa fa-times marginL_1 cursor_pointer" style="" ng-click="allFunc.deleteQueryValue(key,idx,allData.activeQueryValue);allFunc.CRUDOperation.search(allData.recorder,1)">
          </span>
      </span>
    </div>
    <!--<button class="btn btn-primary btn-sm marginT_2" ng-if="!allFunc.isActiveQueryValueEmpty()" ng-click="allFunc.CRUDOperation.search(allData.recorder)">查询</button>-->
  </div>
</div>

<div class="flex-vertical">
  <div class="page-header-narrow h3 text-primary col-lg-12" sytle="">
    数据
  </div>

  <button class="btn btn-primary btn-sm marginL_3"  ng-click="allFunc.setCurrentOpTypeCreate();allFunc.initAllFieldInputAttr(allData.inputAttr,allData.inputRule);allFunc.switchDialogStatus()" ><span class="fa fa-plus marginR_1 "></span>添加</button>
  <span style="align-self: center" class="paddingV_7 h4 text-warning center" ng-show="undefined===allData.recorder[0]">无数据</span>
  <div class="col-lg-12" >
    <table class="table table-hover table-bordered marginT_4" ng-show="undefined!=allData.recorder[0] ">
      <thead>
      <!--<th><input  type="checkbox" name="all" ng-model=""></th>-->
      <th class="text-primary">编号</th>
      <!--<th>所属目录</th>-->
      <th class="text-primary ">单据类别</th>
      <th class="text-primary">支取类型</th>
      <th class="text-primary hidden-sm">父类别</th>
      <th class="text-primary hidden-xs hidden-sm">创建时间</th>
      <th class="text-primary hidden-xs hidden-sm">修改时间</th>
      <th class="text-primary">操作</th>
      </thead>
      <tbody>
      <tr ng-repeat="(idx,value) in allData.recorder">
        <td >{{1+idx+(pagination.paginationInfo.currentPage-1)*pagination.paginationInfo.pageSize}}</td>
        <td>{{value.name}}</td>
          <td>{{value.inOut}}</td>
        <td class="hidden-sm">{{value.parentBillType.name}}</td>
        <td class="hidden-xs hidden-sm">{{value.cDate}}</td>
        <td class="hidden-xs hidden-sm">{{value.uDate}}</td>
        <td style="align:left">
                  <button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="right" title="修改" ng-click="allFunc.setCurrentOpTypeUpdate(); allFunc.setCurrentIdx(idx);allFunc.initAllFieldInputAttr(allData.inputAttr,allData.inputRule);allFunc.loadCurrentData(idx,allData.inputAttr,allData.recorder);allFunc.switchDialogStatus();" ><span class="fa fa-edit" ></span></button>
                  <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right" title="删除" ng-click="allFunc.setCurrentIdx(idx);allFunc.showChoiceModal()"><span class="fa fa-trash-o"></span></button>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
</div>

<!--pagination-->
<div class="flex-vertical col-lg-12" ng-if="undefined!==pagination.paginationInfo && pagination.paginationInfo.end>1">
    <nav>
        <ul class="pagination  pull-left paddingR_7">
            <!--前一页-->
            <li class="cursor_pointer" ng-if="pagination.paginationInfo.showPrevious" ng-click="allFunc.CRUDOperation.search(allData.recorder,pagination.paginationInfo.currentPage-1)">
                <span>
                <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
            <!--数字页码-->
            <li ng-repeat="page in pagination.pageRange track by $index" ng-class="{'active':page.active}"><a href="#" ng-click="allFunc.CRUDOperation.search(allData.recorder,page.pageNo)">{{page.pageNo}}</a></li>
            <!--后一页-->
            <li class="cursor_pointer" aria-label="Next" ng-if="pagination.paginationInfo.showNext" ng-click="allFunc.CRUDOperation.search(allData.recorder,pagination.paginationInfo.currentPage+1)">
                <!--<a href="#" >-->
                    <span aria-hidden="true">&raquo;</span>
                <!--</a>-->
            </li>
        </ul>
        <!--页跳转-->
        <div style="padding:21px 0px;" class="pull-left ">
            <span class="text-muted">
                <span class="pull-left paddingT_1">第</span>
                <input type="text" class="ng-pristine ng-untouched ng-valid input-sm form-control pull-left marginH_2" ng-model="pagination.goToPageNo" ng-change="paginationFunc.validateGoToPageNo()" style="width:50px;">页
            </span>
            <button class="btn btn-sm btn-primary marginL_4" ng-click="allFunc.CRUDOperation.search(allData.recorder,pagination.goToPageNo)" ng-class="{'active':pagination.goToButtonEnable,'disabled':!pagination.goToButtonEnable}">Go</button>
        </div>
    </nav>
</div>