<div id="modal" class="modal" ng-class="{show:allData.recorderDialogShow,fade:!allData.recorderDialogShow}" >
  <div id="CRUDRecorder" class="modal-dialog modal-sm" style="height:316px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="switchDialogStatus()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" >{{modal.title[allData.currentOperation]}}</h4>
      </div>
      <div class="modal-body">
        <!--<div >-->
        <div class="form-group"  ng-repeat="(field,value) in allData.inputAttr" ng-if="field!=='id'" ng-class="{'has-error': 0<value.errorMsg.length}">
          <label class="control-label">{{value['chineseName']}}</label><span style="color:red" class="marginL_1" ng-if="allData.inputRule[field]['require']['define']">*</span>
          <input ng-if="!value.isCRUDAutoComplete" class="form-control" type="{{value.inputDataType}}" ng-model="value.value" ng-change="" ui-event="{focus:'allFunc.initSingleFieldInputAttr(field,allData.inputAttr);',blur:'allFunc.nonAcBlur(field,allData.inputRule,allData.inputAttr);allFunc.allInputValidCheck(allData.inputAttr)'}" >

          <div mass-autocomplete ng-if="value.isCRUDAutoComplete">
            <input class="form-control input-sm" ng-model="value.value" mass-autocomplete-item="value.suggestList" ui-event="{focus:'allFunc.initSingleFieldInputAttr(field,allData.inputAttr)',blur:'allFunc.acBlur(field,allData.inputAttr,allData.recorder[allData.currentIdx]._id)',change:'allFunc.initSingleFieldInputAttr(field,allData.inputAttr);'}" >
          </div>

          <p class="text-danger" style="height:20px">{{value.errorMsg}}</p>
        </div>
        <!--</div>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="allFunc.switchDialogStatus();allFunc.initAllFieldInputAttr(allData.inputAttr)">取消</button>
        <button type="button" class="btn btn-primary" ng-class="{disabled:false===modal.buttonFlag}"  ng-click="allFunc.allCheckInput(allData.inputRule,allData.inputAttr);allFunc.allInputValidCheck(allData.inputAttr);allFunc.CRUDOperation(allData.currentIdx,allData.inputAttr,allData.recorder,allData.selectedAC)">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>





<div class="flex-vertical">
  <div class="page-header h3 text-primary col-lg-12" sytle="">
    设置查询条件
    <span class="fa fa-angle-double-down marginL_3 cursor_pointer" data-toggle="popover" title="显示查询条件" data-content="test" data-placement="right" ng-show="false===allData.queryFieldEnable" ng-init="allData.queryFieldEnable=false" ng-click="allFunc.clickQueryFlag()"></span>
    <span class="fa fa-angle-double-up marginL_3 cursor_pointer" data-toggle="popover" title="隐藏查询条件" data-content="test1" data-placement="right" ng-show="true===allData.queryFieldEnable" ng-click="allFunc.clickQueryFlag()"></span>
  </div>
  <div class="form-group col-lg-12 delete-padding-1" ng-show="allData.queryFieldEnable">
    <label class="control-label col-lg-2 text-left" style="font-size:18px;font-weight:700;font-family:serif">选择查询字段</label>
    <div class="col-lg-2">
      <select id="queryField" class="form-control input-sm"  ng-model="allData.selectedQueryField" ng-options="option.value for option in allData.queryField" ng-change="allFunc.queryFieldChange(allData.selectedQueryField)">

      </select>
    </div>
    <div class="col-lg-2">
<!--      <input id="coveringEle" type="text" class="form-control" style="border-bottom-right-radius:0px;border-top-right-radius:0px;border-right:none" ng-change="filter()" ng-model="text">
      <select id="coveredEle" class="form-control input-sm"  ng-model="currentQueryFieldValue" ng-options="option.key for option in queryFieldValue" >

      </select>-->
      <!--query：只要是非 text 类型的，都要提供autoComplete-->
      <div mass-autocomplete ng-if="allData.inputAttr[allData.selectedQueryField['key']]['isQueryAutoComplete']">
        <input class="form-control input-sm" ng-model="allData.selectedQueryFieldValue" mass-autocomplete-item="allData.inputAttr[allData.selectedQueryField['key']]['suggestList']">
      </div>
      <input class="form-control input-sm" type="allData.inputAttr[allData.selectedQueryField['key']]['inputDataType']" ng-model="allData.selectedQueryFieldValue" ng-if="!allData.inputAttr[allData.selectedQueryField['key']]['isQueryAutoComplete'] && !allData.inputAttr[allData.selectedQueryField['key']]['isSelect']">
      <select class="form-control input-sm"  ng-if="allData.inputAttr[allData.selectedQueryField['key']]['isSelect']" ng-model="allData.selectedQueryFieldValue" ng-options="option.value for option in allData.inputAttr[allData.selectedQueryField['key']]['selectOption']" >

      </select>
    </div>
    <button class="btn  btn-primary btn-sm col-lg-1" ng-class="{disabled:0==allData.selectedQueryFieldValue.length || 0==allData.selectedQueryField.length,enable:0<allData.selectedQueryFieldValue.length && 0<allData.selectedQueryField.length}" ng-click="allFunc.addQueryValue(allData.selectedQueryField.key,allData.selectedQueryFieldValue,allData.activeQueryValue)">确定</button>

  </div>

  <div id="activeQueryValue" class="col-lg-12"  ng-show="allData.queryFieldEnable">
    <p class="" style="font-size:18px;font-weight:700;font-family:serif">当前查询条件</p>
    <div ng-repeat="(key,values) in allData.activeQueryValue" class="col-lg-12">
      <label class="text-info text-success marginR_1 col-lg-2">{{allData.inputAttr[key]['chineseName']}}：</label>
      <span ng-repeat="queryValue in values" class="marginR_2 paddingL_2 paddingR_1 paddingV_1 activeQueryValue">{{queryValue}}<span class="fa fa-times marginL_1 cursor_pointer" style="" ng-click="allFunc.deleteQueryValue(key,queryValue,allData.activeQueryValue)"></span></span>
    </div>
    <button class="btn btn-primary btn-sm marginT_2" ng-if="!allFunc.isActiveQueryValueEmpty()" ng-click="allFunc.setCurrentOpTypeSearch();allFunc.CRUDOperation(null,null,allData.recorder,null)">查询</button>
  </div>




</div>


<div class="flex-vertical">
  <div class="page-header h3 text-primary col-lg-12" sytle="">
    数据
  </div>

  <button class="btn btn-primary btn-sm marginL_3"  ng-click="allFunc.setCurrentOpTypeCreate();allFunc.initAllFieldInputAttr(allData.inputAttr);allFunc.switchDialogStatus()" ><span class="fa fa-plus marginR_1 "></span>添加</button>
  <span style="align-self: center" class="paddingV_7 h4 text-warning center" ng-if="undefined===allData.recorder[0]">无数据</span>
  <div class="col-lg-12" >
    <table class="table table-hover table-bordered marginT_4" ng-if="undefined!=allData.recorder[0] ">
      <thead>
      <!--<th><input  type="checkbox" name="all" ng-model=""></th>-->
      <th class="text-primary">编号</th>
      <!--<th>所属目录</th>-->
      <th class="text-primary ">单据类别</th>
      <th class="text-primary hidden-sm">父类别</th>
      <th class="text-primary hidden-xs hidden-sm">创建时间</th>
      <th class="text-primary hidden-xs hidden-sm">修改时间</th>
      <th class="text-primary">操作</th>
      </thead>
      <tbody>
      <tr ng-repeat="(idx,value) in allData.recorder">
        <td>{{idx+1}}</td>
        <td>{{value.name}}</td>
        <td class="hidden-sm">{{value.parentBillType.name}}</td>
        <td class="hidden-xs hidden-sm">{{value.cDate}}</td>
        <td class="hidden-xs hidden-sm">{{value.uDate}}</td>
        <td style="align:left">
          <button class="btn btn-default btn-xs" ng-click="allFunc.setCurrentOpTypeUpdate(); allFunc.setCurrentIdx(idx);allFunc.initAllFieldInputAttr(allData.inputAttr);allFunc.loadCurrentData(idx,allData.inputAttr,allData.recorder);allFunc.switchDialogStatus();"><span class="fa fa-edit marginR_1" ></span>修改</button>
          <button class="btn btn-danger btn-xs" ng-click="allFunc.setCurrentOpTypeDelete();allFunc.setCurrentIdx(idx);allFunc.CRUDOperation(allData.currentIdx,null,allData.recorder,null)"><span class="fa fa-trash-o marginR_1"></span>删除</button>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
</div>

