<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="app" class="container">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">

        <link rel="stylesheet" href="stylesheets/own/common.css"/>
        <link rel="stylesheet" href="stylesheets/own/finance.css"/>
        <link rel="stylesheet" href="stylesheets/3rd/bootstrap.css"/>
        <link rel="stylesheet" href="stylesheets/3rd/font-awesome.min.css"/>
        <title><%= title %></title>

        <base href="/" />

    </head>
    <body class="row page_bg" >
        <header>
            <%- include('../component/header') -%>
        </header>
        <div id="body" ng-app="app" class="row" style="display:flex;flex-flow: row nowrap;justify-content: flex-start;align-items: flex-start;align-content: space-around" ng-controller="asideController">


            <aside class="col-lg-3 ">
    <!--            <button class="btn btn-default">配置信息</button>
                <button class="btn btn-default">人员信息</button>
                <button class="btn btn-default">单据信息</button>-->
                <div class="radius3 marginH_4 paddingV_4 page_ele_bg" style="display:flex;flex-flow: column nowrap;justify-content: space-around;align-items: center;align-content: flex-start" ng-controller="asideController">
                    <!--margin defined in common.css-->
                    <span class="col-lg-10 center radius3 paddingV_2 paddingH_2  cursor_pointer" ng-repeat="(key,value) in asideName" ui-sref="{{key}}" ui-sref-active="aside-hover-choosen">{{value}}</span>
                </div>

            </aside>
            <article class=" col-lg-9" >
                <div id="detail" ui-view class=" page_ele_bg " style="display:flex;flex-flow: column nowrap;justify-content: center;align-items: center;align-content: space-around;">

                </div>


            </article>
        </div>
        <footer class="col-lg-12">
            <%- include('../component/footer') -%>
        </footer>
    </body>

    <script src="javascripts/3rd/angular.min.js"></script>
    <script  src="javascripts/3rd/jquery-2.2.3.min.js"></script>
    <script  src="javascripts/3rd/bootstrap.min.js"></script>
    <script  src="javascripts/3rd/angular-ui-router.min.js"></script>

    <script  src="javascripts/own/main/mainController.js"></script>
</html>
