.flex-vertical{
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-items:flex-start;
  align-content:center;
}

.flex-horizontal{
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
}

//可以换行（一般用作大容器内 部件的换行）
.flex-horizontal-wrap{
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
}

@keyframes myfirst /* Safari and Chrome */
{
  0%   {height:0px;}
  25%  {height:25%;}
  50%  {height:50%;}
  75%  {height:75%;}
  100% {height:100%;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%   {height:0px;}
  25%  {height:25%;}
  50%  {height:50%;}
  75%  {height:75%;}
  100% {height:100%;}
}

/*
.currentCapital:after{
  //background-color: #2a6496;
  content:'+';
}*/
